<ion-header>
  <ion-toolbar>
    <ion-title>eventDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://via.placeholder.com/800" alt="" srcset="">
    <ion-card-header>
      <ion-card-subtitle>Party</ion-card-subtitle>
      <ion-card-subtitle color="primary">Quantum</ion-card-subtitle>
      <ion-card-title>Mega Bash!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div>
        Mega Bash is the latest installment of the Mega party series by Quantum events company. Rest of description...
      </div>

      <div>
        <ion-icon name="calendar-outline" color="success"></ion-icon>
        12/08/20 - 4:00pm 
      </div>
      <div>
        <ion-icon name="calendar-outline" color="danger"></ion-icon>
        12/08/20 - 10:00pm 
      </div>
      <div>
        <ion-icon name="location-outline" color="primary"></ion-icon>
        The Shop. 32 Edward Drive Downtown, KGN
      </div>
      
    </ion-card-content>
    <ion-text>
      <p></p>
    </ion-text>

  </ion-card>
</ion-content>
