<ion-header>
  <ion-toolbar>
    <ion-title>Events Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="'https://via.placeholder.com/150'"/>
      </ion-avatar> 
      <ion-label>
        <h2>Party R</h2>
        <p>Rowan e-vents</p>
      </ion-label>
      <ion-button (click)="changeStatus(0)" expand="block" fill="clear" shape="round">
        {{ status[0] }}
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img [src]="'https://via.placeholder.com/150'"/>
      </ion-avatar> 
      <ion-label>
        <h2>Mega Bash!</h2>
        <p>Quantum</p>
      </ion-label>
      <ion-button (click)="changeStatus(1)" expand="block" fill="clear" shape="round">
        {{ status[1] }}
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img [src]="'https://via.placeholder.com/150'"/>
      </ion-avatar> 
      <ion-label>
        <h2>Tomorrow</h2>
        <p>Real Events Co.</p>
      </ion-label>
      <ion-button (click)="changeStatus(2)" expand="block" fill="clear" shape="round">
        {{ status[2] }}
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img [src]="'https://via.placeholder.com/150'"/>
      </ion-avatar> 
      <ion-label>
        <h2>Rona Cabona</h2>
        <p>Ministry of Health</p>
      </ion-label>
      <ion-button (click)="changeStatus(3)" expand="block" fill="clear" shape="round">
        {{ status[3] }}
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img [src]="'https://via.placeholder.com/150'"/>
      </ion-avatar> 
      <ion-label>
        <h2>The Quo - Social Conversations</h2>
        <p>For the People.</p>
      </ion-label>
      <ion-button (click)="changeStatus(4)" expand="block" fill="clear" shape="round">
        {{ status[4] }}
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
